body {
  background-image: url(https://media.istockphoto.com/id/1189272922/tr/foto%C4%9Fraf/t%C3%BCrk-banknotlar%C4%B1.jpg?s=612x612&w=0&k=20&c=yfwISWZBGfENWiOBhYWhlAdaDbyuvo3IuYlg9hZ2I4U=);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
